/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.main-wrapper{
	width: 800px;
	margin: auto;
	padding-bottom: 10px;
}

#preview {
	background: white;
	padding-top: 20px;
	position: sticky;
	top: 0;
}

#preview-area {
	border: 1px solid #dedede;
	border-radius: 4px;
	padding: 20px;
	position: relative;
	overflow-y: scroll;
	max-height: 480px;
}

#preview-area img{
	max-width: 100%;
	height: auto;
}

#preview h2 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: bold;
	padding: 13px 15px;
}

.search-area {
	padding-top: 20px;
	width: 100%;
	z-index: 1;
	background: #fff;
	position: sticky;
	top: 0px;
}

.search-input {
	outline: none;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #dedede;
	border-radius: 4px 4px 0 0;
	height: 50px;
	font-weight: normal;
	padding-right: 35px;
}

.search-icon{
	position: absolute;
	right: 10px;
	top: 35px;
	height: 18px;
	width: auto;
}

.search-input::placeholder{
	color: #bbb;
	font-size: 14px;
	font-weight: normal;
}

.form-control:focus {
	outline: 0;
	box-shadow: none;
	border-color: #dedede;
}

#list {
	padding: 10px;
	border: 1px solid #dedede;
	border-top: 0;
	max-height: 500px;
	overflow: scroll;
	border-radius: 0 0 4px 4px;
}

.bs-category ul,
#search-items ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.bs-category li,
#search-items li {
	list-style: none;
	margin-bottom: 10px;
	font-size: 16px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	margin: 1px 0;
	padding: 15px 10px;
	text-transform: capitalize;
	border-radius: 0.25em;
	transition: -webkit-transform 250ms;
	transition: all 250ms;
	transition: all 250ms, -webkit-all 250ms;
	cursor: pointer;
}

.bs-category li:hover,
#search-items li:hover {
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.11);
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.tf-bs-heading {
	background: #3F51B5;
	color: #fff;
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
	text-transform: capitalize;
}


.category {
	width: 230px;
	display: inline-block;
}

.title {
	background-color: #0D47A1;
	color: white;
}

.bs-copy-code {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: -35px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	opacity: 0;
	transition: all 250ms;
	color: #43A047;
	font-weight: bold;

}

.code-copied .bs-copy-code {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0.75;
}

#search-items {
	background: #fff;
	padding: 10px;
	max-height: 465px;
	overflow-y: auto;
	position: absolute;
	top: 67px;
	right: 0;
	left: 0;
	z-index: 9;
	border: 1px solid #dedede;
}

#search-items.hide {
	display: none;
}

#search-items.show {
	display: block;
}

.overlay {
	position: relative;
	z-index: -1;
}

.overlay::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	height: 500%;
	background: #000;
	opacity: .8;
}

.no-result-text {
	font-size: 16px;
	padding: 15px;
}

.code-copy-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("assets/copy-icon.png");
	background-size: 15px;
	background-repeat: no-repeat;
}

.code-copied .code-copy-icon {
	display: none;
}


/* bootstap customize for showing better */

.fixed-top{
	position: absolute !important;
}

.fixed-bottom{
	position: absolute !important;
}

.pagination-lg{
	zoom: .9;
}

.modal-backdrop.show{
	display: none;
}

.modal{
	position: relative;
}